annotated-types==0.7.0
apparmor==4.1.0
asgiref==3.8.1
attrs==24.1.0
btrfsutil==6.14
cffi==1.17.1
colorama==0.4.6
cryptography==44.0.2
dbus-python==1.4.0
defusedxml==0.7.1
Django==5.1.9
filelock==3.18.0
Glances==4.3.1
legacy-cgi==2.6.3
LibAppArmor==4.1.0
nftables==0.1
onboard==1.4.1
orjson==3.10.16
packaging==25.0
powerline-status==2.8.4
psutil==7.0.0
pyaml==24.12.0
pycairo==1.28.0
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
PyGObject==3.52.3
PyQt5==5.15.11
PyQt5_sip==12.17.0
pytz==2025.2
PyYAML==6.0.2
Reflector==2023.6.28.0.36.1
shtab==1.7.2.dev0+g61ec99d.d20241116
smbus==1.1
sqlparse==0.5.1
TBB==0.2
termcolor==2.5.0
tldr==3.3.0
typing-inspection==0.4.0
typing_extensions==4.12.2
ufw==0.36.2
wheel==0.45.1
gunicorn==21.2.0
